.max-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.cursor-pointer {
  cursor: pointer;
}

.img-thumb {
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  width: 90px;
  height: 90px;
}

.w-100vw{
  width: 100vw;
}